@import '_colors';
@import '_grid';
@import '_layout';
@import '_fonts';

$grid-second-row: (266px + ($grid-block * 2));
$grid-fourth-row: (5 * $grid-block);


@debug $grid-second-row;
@debug $grid-fourth-row;

:host {
  height: 100%;
  display: grid;
  grid-template-areas: 'area-1''area-2''area-3''area-4''area-5';

  @media screen and (min-width: 1024px) {
    $column-width: $layout-column-width-lg;
    column-gap: $layout-gutter-width-lg;
    @debug $column-width;

    grid-template-columns: repeat(12, $column-width);
    grid-template-rows: 534px 266px;
    grid-template-areas:
      "area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-2 area-2 area-2 area-2 area-2"
      "area-3 area-3 area-3 area-3 area-4 area-4 area-4 area-4 area-5 area-5 area-5 area-5";
  }
}

.block {

  &--1 {
    position: relative;
    height: 360px;
    grid-area: area-1;
    margin: 0;

    @media screen and (min-width: 1024px) {
      width: 840px;
      height: 534px;
    }
  }

  &--2 {
    width: 311px;
    height: 266px;
    grid-area: area-2;
    margin: $grid-block ($each-gutter-outside + $layout-column-width + $layout-gutter-width);

    @media screen and (min-width: 1024px) {
      width: 600px;
      height: 534px;
    }
  }

  &--3 {
    width: 311px;
    height: 198px;
    grid-area: area-4;
    margin: $grid-block ($each-gutter-outside + $layout-column-width + $layout-gutter-width);

    @media screen and (min-width: 1024px) {
      // margin: (4 * $grid-cell-lg) (3 * $grid-cell-lg) auto -$layout-gutter-width-lg;
      margin-left: -$layout-gutter-width-lg;
      margin-right: (3 * $grid-cell-lg);
      width: 580px;
      height: 266px;
    }
  }

  &--arrows {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;

    @media screen and (min-width: 1024px) {
      right: -160px;
    }

    .arrow {
      width: 56px;
      height: 56px;
      cursor: pointer;

      @media screen and (min-width: 1024px) {
        width: 80px;
        height: 80px;

        &:hover {
          opacity: .7;
        }
      }
    }
  }

}

.img {

  &--logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: $grid-cell * 1.5;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1024px) {
      margin-top: $grid-cell * 3.5;
      margin-left: $grid-cell * 3.5;
    }
  }

  &--burguer {
    position: absolute;
    margin-top: $grid-cell * 1.5;
    margin-left: $grid-cell * .9;
    width: auto;
    height: auto;
  }

  &--1 {
    height: 360px;

    @media screen and (min-width: 1024px) {
      width: 840px;
      height: 534px;
    }
  }

  &--2 {
    height: 238px;
    grid-area: area-3;

    @media screen and (min-width: 1024px) {
      width: 420px;
      height: 266px;
    }
  }

  &--3 {
    height: 227px;
    grid-area: area-5;

    @media screen and (min-width: 1024px) {
      width: 440px;
      height: 266px;
    }
  }
}

.title {
  @include title;

  @media screen and (min-width: 1024px) {
    width: 400px;
    margin-bottom: 2 * $grid-cell-lg;
  }
}

.subtitle {
  @include subtitle;

  @media screen and (min-width: 1024px) {
    margin-top: 0;
  }
}

.info {
  @include info;

  &--1 {
    margin-bottom: 0;

    @media screen and (min-width: 1024px) {
      width: 400px;
      height: 100px;
      margin-top: 0;
    }
  }

  &--2 {
    @media screen and (min-width: 1024px) {
      width: 484px;
      height: 104px;
      margin-bottom: 0;
    }
  }
}

.cta {
  letter-spacing: 10px;
  margin-top: 2 * $grid-cell;
  cursor: pointer;

  &:hover {
    animation: moving 1s ease-in-out 4 alternate;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 1.5 * $grid-cell-lg;
  }
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30px);
  }
}

.half-opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: $black;
  opacity: .5;
}
