@import '_colors';
@import '_grid';
@import '_fonts';

:host {
  height: 100%;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: repeat(10, $grid-block-sm);
  grid-template-rows: 360px calc((5 * #{$grid-block-sm}) + 1 * #{$grid-cell-sm}) 238px calc(5 * #{$grid-block-sm}) 227px;
}

.block {

  &--1 {
    grid-area: area-2;
  }

  &--2 {
    grid-area: area-4;
  }

}

.img {

  &--1 {
    grid-area: area-1;
  }

  &--2 {
    grid-area: area-3;
  }

  &--3 {
    grid-area: area-5;
  }
}

.title {
  @include title;
}

.subtitle {
  @include subtitle;
}

.info {
  @include info;
}
