// Layout System in Small Devices
$total-width: 375px;
$number-of-columns: 12;
$layout-column-width: 24px;
$layout-gutter-width: 7px;
$total-width-no-gutter-outside: $number-of-columns * ($layout-column-width + $layout-gutter-width);
$gutter-outside: $total-width - $total-width-no-gutter-outside;
$each-gutter-outside: $gutter-outside / 2;
@debug $total-width-no-gutter-outside;
@debug $gutter-outside;
@debug $each-gutter-outside;

